# Ignore generated RDoc
doc/
# Ignore Jeweler directory for dumping Gem's
pkg/

# Ignore generated Saikuro Treemap
tmp/
reports/

# Ignore generated RCov
coverage/

# Ignore Apatana project files
.loadpath
.project

# Ignore JetBrains RubyMine project files
.idea

# Ignore Gemspec (it can be generated with rake task)
convene.gemspec
